<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-tittle">
                文章列表
            </h3>
        </div>
        <div class="panel-body">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li>
                        <a href="">文章列表</a>
                    </li>
                    <li class="active">
                        <a href="/add">添加发布</a>
                    </li>
                </ul>
                    <form action="/index/article/store" method="POST" class="form-horizontal" role="form">
                        <br>
                        <div class="form-group">
                            <label class="col-sm-2">标题</label>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="tittle">
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="form-group">
                            <label class="col-sm-2">内容</label>
                        </div>
                        <div class="col-sm-10">
                            <textarea name="content" class="form-control" cols="30" rows="10"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <br>
                                <button type="submit" class="btn btn-primary">添加</button>
                            </div>
                        </div>
                    </form>


            </div>
        </div>
    </div>
 </div>
</body>
</html>